@import url('https://fonts.googleapis.com/css?family=Montserrat|Pathway+Gothic+One&display=swap');

/* ***Fonts***: 
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

a:link {
  color: whitesmoke;
  text-decoration: none;
  }

a:hover, a:focus, a:visited {
    color: yellow;
    text-decoration: underline;
  }

abbr {
    text-decoration: none;
}

body {
background-image: url(images/smoke-2437886_960_720.webp);
background-repeat: no-repeat;
background-size: cover;
font-family: 'Pathway Gothic One', sans-serif;
font-size: 16px;
color: white;
}

p {
line-height: 2em;
text-indent: 4em;
}

p:first-of-type {
  text-indent: 0;
}

h1 h2 {
font-family: 'Montserrat', sans-serif;
}

header {
background-image: url(images/giphy.gif);
background-repeat: no-repeat;
border-style: solid;
text-align: center;
}

.page-wrapper {
margin: 0 auto;
text-align: left;
width: 30em;
}

.design-selection {
background-image: url(images/giphy\ \(1\).gif);
border: solid;
left: 60px;
padding: 0 2em;
position: absolute;
top: 30px;
}

.design-archives {
background-image: url(images/giphy\ \(1\).gif);
background-position: top;
background-size: 500px;
border: solid;
height: 300px;
padding: 0 2em;
position: absolute;
right: 105px;
top: 30px;
width: 200px;
}

.zen-resources {
position: absolute;
right: 140px;
top: 120px;
}

