@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap');

/* ***Fonts***: 
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
*/

a {
    color: red;
    text-decoration: none;
}

body {
background-image: url(images/wood-2045379_960_720.webp);
background-repeat: no-repeat;
background-size: cover;
}

body p {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    line-height: 2em;
}
h1 h2 {
    font-family: 'Lato', sans-serif;
}

.sidebar {
    background-image: url(images/notebook-2465914_960_720.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 4em;
    position: fixed;
    top: 20px;
    text-align: left;
    right: 20px;
}

.intro h1 {
    font-size: 2em;
} 

.page-wrapper {
    background-image: url(images/46b47a75-e683-45e5-a20c-77a80922ca19_1.8df9460e58e91c5462e87ee190326f2f.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    width: 60em;
}