@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato&display=swap');

/* ***Fonts***: 
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
*/

a:link {
    color: red;
    text-decoration: none;
}

a:hover, a:focus, a:visited {
  color: black;
  text-decoration: underline;
}

abbr {
    text-decoration: none;
}

body {
background-image: url(images/wood-2045379_960_720.webp);
background-repeat: no-repeat;
background-size: cover;
font-family: 'Dancing Script', cursive;
font-size: 20px;
}

p {
line-height: 1.45em;
margin-bottom: 1em;
text-align: left;
}
h1 h2 {
font-family: 'Lato', sans-serif;
}

.sidebar {
    background-image: url(images/notebook-2465914_960_720.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2em 4em 4em 4em;
    position: fixed;
    top: 40px;
    text-align: left;
    left: 20px;

}

.intro h1 {
    font-size: 2em;
} 

.page-wrapper {
    background-image: url(images/46b47a75-e683-45e5-a20c-77a80922ca19_1.8df9460e58e91c5462e87ee190326f2f.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
    width: 32em;
}